vxd2/vxd/Languages/ASP.NET/asp.xsd.dtd

<!ELEMENT VisualHTML (HTML)*>
<!ATTLIST VisualHTML Title CDATA #REQUIRED
		    Package CDATA #REQUIRED
		    URI CDATA #REQUIRED
		    Port CDATA "80"
		    Language CDATA #FIXED "VisualHTML"
		    Translator CDATA #FIXED "VisualHTMLtoHTML"
		    Platform CDATA "WindowsFilesystem"
                    TextNote CDATA #IMPLIED
                    Build (Debug|Release|Optimized) "Debug">
<!ELEMENT HTML (HEAD|BODY|TAG)*>
<!ATTLIST HTML Name CDATA "HTML"
			   RelativeDirectory CDATA "."
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED 
AfterHtml CDATA #IMPLIED  
Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
	       HtmlEditor CDATA #IMPLIED>
<!ELEMENT BODY  (Form|Text|TAG|Href|Image|DIV|SPAN)*>
<!ATTLIST BODY  Name CDATA "BODY"
		 TextAlign (center|right|left) "center"
FontFamily (Verdana| Courier| Fixedsys| Cursive| Script| Andy| Algerian| Marlett| Monospace| Lucida | System| Tahoma| Arial) "Arial"
FontSize CDATA "12px"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT DIV (DIV|SPAN|TABLE|Textbox|Text|TAG|Submit|Href|Connection|
                ComboBox|CheckBox|TextArea|FileUpload|Form|PasswordField|
                RadioButton|Hidden|Image|ImageButton|Button|ListBox)*>
<!ATTLIST DIV Name CDATA "DIV"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       TextAlign (center|right|left) "center"
	       Float (left|right|none) "none"
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT SPAN (DIV|SPAN|TABLE|Textbox|Text|TAG|Submit|Href|Connection|
                ComboBox|CheckBox|TextArea|FileUpload|Form|PasswordField|
                RadioButton|Hidden|Image|ImageButton|Button|ListBox)*>
<!ATTLIST SPAN Name CDATA "SPAN"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       TextAlign (center|right|left) "center"
	       Float (left|right|none) "none"
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT TD (DIV|SPAN|TABLE|Textbox|Text|TAG|Submit|Href|Connection|
                ComboBox|CheckBox|TextArea|FileUpload|Form|PasswordField|
                RadioButton|Hidden|Image|ImageButton|Button|ListBox)*>
<!ATTLIST TD Name CDATA "TD"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       align (center|right|left) "center"
	       valign (top|middle|baseline|bottom) "middle"
	       rowspan CDATA "1"
		colspan CDATA "1"
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT TABLE (TR)*>

<!ATTLIST TABLE Name CDATA "TABLE"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       width CDATA "100%"
		border CDATA "0"
		cellpadding CDATA "0"
		cellspacing CDATA "0"
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT TR (TD)*>
<!ATTLIST TR Name CDATA "TR"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT HEAD (Title?)>
<!ATTLIST HEAD Name CDATA "HEAD"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT Title (#PCDATA)>
<!ATTLIST Title Name CDATA "Title"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT TAG (DIV|SPAN|TABLE|Textbox|Text|TAG|Submit|Href|Connection|
                ComboBox|CheckBox|TextArea|FileUpload|Form|PasswordField|
                RadioButton|Hidden|Image|ImageButton|Button|ListBox)*>
<!ATTLIST TAG 
		Name CDATA "TAG"
TagName (abbr|acronym|address|applet|area|a|basefont|base|bdo|big|blockquote|body|br|button|b|caption|center|cite|code|colgroup|col|dd|del|dfn|dir|div|dl|dt|em|fieldset|font|form|h1|h2|h3|h4|h5|h6|head|hr|html|iframe|img|input|ins|isindex|i|kbd|label|legend|link|li|map|menu|meta|noframes|noscript|object|ol|optgroup|option|param|pre|p|q|samp|script|select|small|span|strike|strong|style|sub|sup|s|table|tbody|td|textarea|tfoot|thead|th|title|tr|tt|ul|u|var) "br"
               

               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT Form (DIV|SPAN|TABLE|Textbox|Text|TAG|Submit|Href|Connection|
                ComboBox|CheckBox|TextArea|FileUpload|PasswordField|
                RadioButton|Hidden|Image|ImageButton|Button|ListBox)*>
<!ATTLIST Form Name CDATA "Form"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
		Action CDATA #IMPLIED
	       Method (POST|GET) "POST" >
<!ELEMENT Textbox (#PCDATA)>
<!ATTLIST Textbox Name CDATA "Textbox"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT Text (#PCDATA)>
<!ATTLIST Text Name CDATA "Text"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
		 TextAlign (center|right|left) "center"
FontFamily (Verdana| Courier| Fixedsys| Cursive| Script| Andy| Algerian| Marlett| Monospace| Lucida | System| Tahoma| Arial) "Arial"
FontSize CDATA "12px"
	       Visible (TRUE|FALSE) "TRUE"
	                     Value CDATA #IMPLIED>
<!ELEMENT Submit (#PCDATA)>
<!ATTLIST Submit Name CDATA "Submit"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT Href (Connection|Text|Image)*>
<!ATTLIST Href Name CDATA "Href"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
		URL CDATA #IMPLIED
               Value CDATA #IMPLIED
	       Variable CDATA #IMPLIED>
<!ELEMENT Button (#PCDATA)>
<!ATTLIST Button Name CDATA "Button"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT ListBox (Option)*>
<!ATTLIST ListBox Name CDATA "ListBox"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
	       Multiple (TRUE|FALSE) "TRUE"
	       Size CDATA "5"
               Values CDATA #IMPLIED>
<!ELEMENT Option (#PCDATA)>
<!ATTLIST Option Name CDATA "Option"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
	       Selected (TRUE|FALSE) "TRUE"
	       Value CDATA "0"
	       Text CDATA "Option" >
<!ELEMENT ImageButton (#PCDATA)>
<!ATTLIST ImageButton Name CDATA "ImageButton"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Src CDATA #IMPLIED>
<!ELEMENT Image (#PCDATA)>
<!ATTLIST Image Name CDATA "Image"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
             Value CDATA #IMPLIED
               Src CDATA #IMPLIED>
<!ELEMENT Hidden (#PCDATA)>
<!ATTLIST Hidden Name CDATA "Hidden"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
              Value CDATA #IMPLIED>
<!ELEMENT RadioButton (#PCDATA)>
<!ATTLIST RadioButton Name CDATA "RadioButton"
               ID CDATA #IMPLIED
               Group CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Checked (TRUE|FALSE) "FALSE">
<!ELEMENT PasswordField (#PCDATA)>
<!ATTLIST PasswordField Name CDATA "PasswordField"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       BeforeHtml CDATA #IMPLIED
	       AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
               Value CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
	       Variable CDATA #IMPLIED>
<!ELEMENT FileUpload (#PCDATA)>
<!ATTLIST FileUpload Name CDATA "FileUpload"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE">
<!ELEMENT TextArea (#PCDATA)>
<!ATTLIST TextArea Name CDATA "TextArea"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Value CDATA #IMPLIED>
<!ELEMENT CheckBox (#PCDATA)>
<!ATTLIST CheckBox Name CDATA "CheckBox"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
               Checked (TRUE|FALSE) "FALSE">
<!ELEMENT ComboBox (Option)*>
<!ATTLIST ComboBox Name CDATA "ComboBox"
               ID CDATA #IMPLIED
               XPos CDATA #IMPLIED
               YPos CDATA #IMPLIED
	       Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
	       Visible (TRUE|FALSE) "TRUE"
	       Multiple (TRUE|FALSE) "FALSE"
	       Size CDATA "1"
	        Values CDATA #IMPLIED>
<!ELEMENT Connection (#PCDATA)>
<!ATTLIST Connection Name CDATA "Connection"
                     ID CDATA #IMPLIED
		     Order CDATA "0" BeforeHtml CDATA #IMPLIED AfterHtml CDATA #IMPLIED  Attributes CDATA #IMPLIED
		     SourceID CDATA #IMPLIED
                     DestID CDATA #IMPLIED
		     DestType (HTML) "HTML">