vxd3/vxd/VisualSalesManagement.dtd

<!ELEMENT VisualSalesManagement (Company)*>
<!ATTLIST VisualSalesManagement
Title CDATA #REQUIRED
		    Package CDATA #REQUIRED
		    URI CDATA #REQUIRED
		    Port CDATA "80"
		    Language CDATA #FIXED "VisualSalesManagement"
		    Translator CDATA #FIXED "VisualSalesManagementWeb"
		    Platform CDATA "Tomcat403"
                    TextNote CDATA #IMPLIED
                    Build (Debug|Release|Optimized) "Debug">
<!ELEMENT Company (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Company Name CDATA "Company"
	ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Group (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Group Name CDATA "Group"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT BusinessUnit (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST BusinessUnit Name CDATA "BusinessUnit"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT ProductLine (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST ProductLine Name CDATA "ProductLine"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT ProductFamily (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST ProductFamily Name CDATA "ProductFamily"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Product (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Product Name CDATA "Product"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Run-Rate (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Run-Rate Name CDATA "Run-Rate"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Commit (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Commit Name CDATA "Commit"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Forecast (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Forecast Name CDATA "Forecast"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Projection (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Projection Name CDATA "Projection"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT FiscalPeriod (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST FiscalPeriod Name CDATA "FiscalPeriod"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Chart (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Chart Name CDATA "Chart"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Report (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Report Name CDATA "Report"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >


<!ELEMENT Dashboard (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Dashboard Name CDATA "Dashboard"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Theater (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Theater Name CDATA "Theater"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Bookings (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Bookings Name CDATA "Bookings"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT De-bookings (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST De-bookings Name CDATA "De-bookings"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT Deal (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST Deal Name CDATA "Deal"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT DealValue (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST DealValue Name CDATA "DealValue"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT DealProbability (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST DealProbability Name CDATA "DealProbability"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >

<!ELEMENT DealStatus (Company|Connection|Group|BusinessUnit|ProductLine|ProductFamily|Product|Run-Rate|Commit|Forecast|Projection|FiscalPeriod|Chart|Report|Dashboard|Theater|Bookings|De-bookings|Deal|DealValue|DealProbability|DealStatus)*>
<!ATTLIST DealStatus Name CDATA "DealStatus"              ID CDATA #IMPLIED               XPos CDATA #IMPLIED YPos CDATA #IMPLIED 	       Order CDATA "0" 	       Visible (TRUE|FALSE) "TRUE"                         Value CDATA #IMPLIED >
<!ELEMENT Connection (#PCDATA)>
<!ATTLIST Connection Name CDATA #REQUIRED
                     ID CDATA #IMPLIED
		     Order CDATA "0"
		     SourceID CDATA #IMPLIED
                     DestID CDATA #IMPLIED
		     DestType CDATA #IMPLIED>