vxd3/XMLEditor/XML/nav4_0.xsd

<?xml version='1.0' encoding='utf-8' ?>
<xsd:schema xmlns='http://schemas.microsoft.com/intellisense/nav4-0' xmlns:xsd='http://www.w3.org/2001/XMLSchema' version="1.0" targetNamespace='http://schemas.microsoft.com/intellisense/nav4-0' elementFormDefault='qualified' xmlns:vs='http://schemas.microsoft.com/HTMLIntellisense' vs:clientom="nav4_0dom.tlb" vs:ishtmlschema="true" vs:iscasesensitive="false" vs:htmlflavor="4.0" vs:absolutepositioning="false" vs:friendlyname="Netscape Navigator 4.0">
	<xsd:element name="HeadContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="base" />
				<xsd:element ref="isindex" />
				<xsd:element ref="link" />
				<xsd:element ref="meta" />
				<xsd:element ref="object" />
				<xsd:element ref="script" />
				<xsd:element ref="server" />
				<xsd:element ref="style" />
				<xsd:element ref="title" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BlockContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="address" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="center" />
				<xsd:element ref="dir" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="form" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="hr" />
				<xsd:element ref="isindex" />
				<xsd:element ref="layer" />
				<xsd:element ref="listing" />
				<xsd:element ref="menu" />
				<xsd:element ref="multicol" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="nolayer" />
				<xsd:element ref="noscript" />
				<xsd:element ref="ol" />
				<xsd:element ref="p" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="pre" />
				<xsd:element ref="server" />
				<xsd:element ref="spacer" />
				<xsd:element ref="table" />
				<xsd:element ref="ul" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BasefontContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="applet" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="br" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="em" />
				<xsd:element ref="embed" />
				<xsd:element ref="font" />
				<xsd:element ref="i" />
				<xsd:element ref="img" />
				<xsd:element ref="kbd" />
				<xsd:element ref="map" />
				<xsd:element ref="nobr" />
				<xsd:element ref="object" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="script" />
				<xsd:element ref="server" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="wbr" />
				<xsd:element ref="address" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="dir" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="form" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="hr" />
				<xsd:element ref="isindex" />
				<xsd:element ref="listing" />
				<xsd:element ref="menu" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="noscript" />
				<xsd:element ref="ol" />
				<xsd:element ref="p" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="pre" />
				<xsd:element ref="ul" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BlockParent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="applet" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="body" />
				<xsd:element ref="center" />
				<xsd:element ref="dd" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="embed" />
				<xsd:element ref="form" />
				<xsd:element ref="layer" />
				<xsd:element ref="li" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="nolayer" />
				<xsd:element ref="noscript" />
				<xsd:element ref="object" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="td" />
				<xsd:element ref="th" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TableParent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="applet" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="body" />
				<xsd:element ref="center" />
				<xsd:element ref="dd" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="embed" />
				<xsd:element ref="form" />
				<xsd:element ref="li" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="noscript" />
				<xsd:element ref="object" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="pre" />
				<xsd:element ref="td" />
				<xsd:element ref="th" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FormElementParent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="applet" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="body" />
				<xsd:element ref="center" />
				<xsd:element ref="dd" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="embed" />
				<xsd:element ref="li" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="noscript" />
				<xsd:element ref="object" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="pre" />
				<xsd:element ref="td" />
				<xsd:element ref="th" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AParent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="address" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="caption" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="dt" />
				<xsd:element ref="em" />
				<xsd:element ref="font" />
				<xsd:element ref="form" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="i" />
				<xsd:element ref="kbd" />
				<xsd:element ref="li" />
				<xsd:element ref="nobr" />
				<xsd:element ref="p" />
				<xsd:element ref="pre" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="applet" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="body" />
				<xsd:element ref="center" />
				<xsd:element ref="dd" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="embed" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="noscript" />
				<xsd:element ref="object" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="td" />
				<xsd:element ref="th" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InlineParent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="a" />
				<xsd:element ref="address" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="caption" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="dt" />
				<xsd:element ref="em" />
				<xsd:element ref="font" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="i" />
				<xsd:element ref="ilayer" />
				<xsd:element ref="kbd" />
				<xsd:element ref="nobr" />
				<xsd:element ref="p" />
				<xsd:element ref="pre" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="small" />
				<xsd:element ref="spacer" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InlineParentNoPre" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="a" />
				<xsd:element ref="address" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="caption" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="dt" />
				<xsd:element ref="em" />
				<xsd:element ref="font" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="i" />
				<xsd:element ref="kbd" />
				<xsd:element ref="nobr" />
				<xsd:element ref="p" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InlineParentNoButton" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="a" />
				<xsd:element ref="address" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="caption" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="dt" />
				<xsd:element ref="em" />
				<xsd:element ref="font" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="i" />
				<xsd:element ref="kbd" />
				<xsd:element ref="nobr" />
				<xsd:element ref="p" />
				<xsd:element ref="pre" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InlineContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="a" />
				<xsd:element ref="applet" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="br" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="em" />
				<xsd:element ref="embed" />
				<xsd:element ref="font" />
				<xsd:element ref="i" />
				<xsd:element ref="ilayer" />
				<xsd:element ref="img" />
				<xsd:element ref="kbd" />
				<xsd:element ref="map" />
				<xsd:element ref="nobr" />
				<xsd:element ref="object" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="script" />
				<xsd:element ref="server" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="wbr" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FormElementContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="a" />
				<xsd:element ref="applet" />
				<xsd:element ref="b" />
				<xsd:element ref="blink" />
				<xsd:element ref="big" />
				<xsd:element ref="br" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="em" />
				<xsd:element ref="embed" />
				<xsd:element ref="font" />
				<xsd:element ref="i" />
				<xsd:element ref="img" />
				<xsd:element ref="input" />
				<xsd:element ref="kbd" />
				<xsd:element ref="map" />
				<xsd:element ref="nobr" />
				<xsd:element ref="object" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="script" />
				<xsd:element ref="select" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="textarea" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="wbr" />
				<xsd:element ref="address" />
				<xsd:element ref="basefont" />
				<xsd:element ref="blockquote" />
				<xsd:element ref="dir" />
				<xsd:element ref="div" />
				<xsd:element ref="dl" />
				<xsd:element ref="h1" />
				<xsd:element ref="h2" />
				<xsd:element ref="h3" />
				<xsd:element ref="h4" />
				<xsd:element ref="h5" />
				<xsd:element ref="h6" />
				<xsd:element ref="hr" />
				<xsd:element ref="isindex" />
				<xsd:element ref="listing" />
				<xsd:element ref="menu" />
				<xsd:element ref="noembed" />
				<xsd:element ref="noframes" />
				<xsd:element ref="noscript" />
				<xsd:element ref="ol" />
				<xsd:element ref="p" />
				<xsd:element ref="plaintext" />
				<xsd:element ref="pre" />
				<xsd:element ref="server" />
				<xsd:element ref="table" />
				<xsd:element ref="ul" />
				<xsd:element ref="xmp" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="applet" />
				<xsd:element ref="b" />
				<xsd:element ref="big" />
				<xsd:element ref="br" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="em" />
				<xsd:element ref="embed" />
				<xsd:element ref="font" />
				<xsd:element ref="i" />
				<xsd:element ref="img" />
				<xsd:element ref="kbd" />
				<xsd:element ref="map" />
				<xsd:element ref="nobr" />
				<xsd:element ref="object" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="script" />
				<xsd:element ref="server" />
				<xsd:element ref="small" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="sub" />
				<xsd:element ref="sup" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="wbr" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PreContent" vs:nonbrowseable="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="b" />
				<xsd:element ref="br" />
				<xsd:element ref="cite" />
				<xsd:element ref="code" />
				<xsd:element ref="em" />
				<xsd:element ref="embed" />
				<xsd:element ref="i" />
				<xsd:element ref="kbd" />
				<xsd:element ref="map" />
				<xsd:element ref="s" />
				<xsd:element ref="samp" />
				<xsd:element ref="script" />
				<xsd:element ref="server" />
				<xsd:element ref="span" />
				<xsd:element ref="strike" />
				<xsd:element ref="strong" />
				<xsd:element ref="tt" />
				<xsd:element ref="u" />
				<xsd:element ref="var" />
				<xsd:element ref="wbr" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="coreLanguage" vs:nonbrowseable="true">
		<xsd:attribute name="dir" default="ltr">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="ltr" />
					<xsd:enumeration value="rtl" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lang" />
	</xsd:attributeGroup>
	<xsd:element name="a">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="AContent" />
			</xsd:choice>
			<xsd:attribute name="href" type="xsd:anyURI" />
			<xsd:attribute name="name" />
			<xsd:attribute name="target">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="_blank" />
								<xsd:enumeration value="_parent" />
								<xsd:enumeration value="_search" />
								<xsd:enumeration value="_self" />
								<xsd:enumeration value="_top" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="onserverclick" vs:omtype="event" />
			<xsd:attribute name="onserverchange" vs:omtype="event" />
			<xsd:attribute name="onclick" vs:omtype="event" />
			<xsd:attribute name="onmouseout" vs:omtype="event" />
			<xsd:attribute name="onmouseover" vs:omtype="event" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="address">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="p" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="applet">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
				<xsd:element ref="param" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
 			<xsd:attribute name="viewastext" vs:nonbrowseable="true" vs:standalone="true" />
			<xsd:attribute name="alt" />
			<xsd:attribute name="archive" />
			<xsd:attribute name="code" type="xsd:anyURI" />
			<xsd:attribute name="codebase" type="xsd:anyURI" />
			<xsd:attribute name="height" />
			<xsd:attribute name="hspace" type="ui4" />
			<xsd:attribute name="mayscript" />
			<xsd:attribute name="name" />
			<xsd:attribute name="vspace" type="ui4" />
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="area" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="coords" />
			<xsd:attribute name="href" type="xsd:anyURI" />
			<xsd:attribute name="name" />
			<xsd:attribute name="nohref" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="shape" default="rect">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="rect" />
						<xsd:enumeration value="circle" />
						<xsd:enumeration value="default" />
						<xsd:enumeration value="poly" />
						<xsd:enumeration value="polygon" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="target">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="_blank" />
								<xsd:enumeration value="_parent" />
								<xsd:enumeration value="_search" />
								<xsd:enumeration value="_self" />
								<xsd:enumeration value="_top" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="onmouseout" vs:omtype="event" />
			<xsd:attribute name="onmouseover" vs:omtype="event" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="b">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="base" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="href" type="xsd:anyURI" />
			<xsd:attribute name="target">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="_blank" />
								<xsd:enumeration value="_parent" />
								<xsd:enumeration value="_search" />
								<xsd:enumeration value="_self" />
								<xsd:enumeration value="_top" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="basefont">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="BasefontContent" />
			</xsd:choice>
			<xsd:attribute name="size" type="xsd:integer" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="big">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="blink">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="blockquote">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="body">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="alink" vs:builder="color" />
			<xsd:attribute name="background" type="xsd:anyURI" />
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="link" vs:builder="color" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onload" vs:omtype="event" />
			<xsd:attribute name="onunload" vs:omtype="event" />
			<xsd:attribute name="text" vs:builder="color" />
			<xsd:attribute name="vlink" vs:builder="color" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="br" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="clear" default="none">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="none" />
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="all" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="caption">
		<xsd:complexType mixed="true">
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="top" />
						<xsd:enumeration value="bottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="center">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cite">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="code">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dd">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dir">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="div">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dl">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="dd" />
				<xsd:element ref="dt" />
			</xsd:choice>
			<xsd:attribute name="compact" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="dt">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="em">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="embed">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
				<xsd:element ref="param" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="height" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="width" />
			<xsd:attribute name="border" type="xsd:integer" />
			<xsd:attribute name="frameborder" default="yes">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="hidden" default="false">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="true" />
						<xsd:enumeration value="false" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="palette">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="background" />
						<xsd:enumeration value="foreground" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="pluginspace" />
			<xsd:attribute name="pluginurl" />
			<xsd:attribute name="type" />
			<xsd:attribute name="units">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="en" />
						<xsd:enumeration value="pixels" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="hspace" type="ui4" />
			<xsd:attribute name="vspace" type="ui4" />
			<xsd:attribute name="name" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="font">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="color" vs:builder="color" />
			<xsd:attribute name="face" />
			<xsd:attribute name="size" type="xsd:integer" />
			<xsd:attribute name="point-size" />
			<xsd:attribute name="weight">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="100" />
						<xsd:enumeration value="200" />
						<xsd:enumeration value="300" />
						<xsd:enumeration value="400" />
						<xsd:enumeration value="500" />
						<xsd:enumeration value="600" />
						<xsd:enumeration value="700" />
						<xsd:enumeration value="800" />
						<xsd:enumeration value="900" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="form">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="FormElementContent" />
				<xsd:element ref="keygen" />
			</xsd:choice>
			<xsd:attribute name="action" type="xsd:anyURI" />
			<xsd:attribute name="enctype" />
			<xsd:attribute name="method" default="get">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="get" />
						<xsd:enumeration value="post" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" />
			<xsd:attribute name="onreset" vs:omtype="event" />
			<xsd:attribute name="onsubmit" vs:omtype="event" />
			<xsd:attribute name="target">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="_blank" />
								<xsd:enumeration value="_parent" />
								<xsd:enumeration value="_search" />
								<xsd:enumeration value="_self" />
								<xsd:enumeration value="_top" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="frame" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="bordercolor" vs:builder="color" />
			<xsd:attribute name="frameborder" default="yes">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="marginheight" type="xsd:integer" />
			<xsd:attribute name="marginwidth" type="xsd:integer" />
			<xsd:attribute name="name" />
			<xsd:attribute name="noresize" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="scrolling" default="auto">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="auto" />
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="size" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="target">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="_blank" />
								<xsd:enumeration value="_parent" />
								<xsd:enumeration value="_search" />
								<xsd:enumeration value="_self" />
								<xsd:enumeration value="_top" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string" />
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="frameset">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="frame" />
				<xsd:element ref="frameset" />
				<xsd:element ref="noframes" />
			</xsd:choice>
			<xsd:attribute name="border" type="xsd:integer" />
			<xsd:attribute name="bordercolor" vs:builder="color" />
			<xsd:attribute name="cols" />
			<xsd:attribute name="frameborder" default="yes">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="yes" />
						<xsd:enumeration value="no" />
						<xsd:enumeration value="1" />
						<xsd:enumeration value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onload" vs:omtype="event" />
			<xsd:attribute name="onunload" vs:omtype="event" />
			<xsd:attribute name="rows" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="head">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="HeadContent" />
			</xsd:choice>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="hr" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="align" default="right">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="noshade" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="size" />
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="html" vs:defaultelement="1">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="body" />
				<xsd:element ref="frameset" />
				<xsd:element ref="head" />
				<xsd:element ref="server" />
			</xsd:choice>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h1">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h2">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h3">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h4">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h5">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="h6">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="i">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ilayer">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="BlockContent" />
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="above" />
			<xsd:attribute name="background" type="xsd:anyURI" />
			<xsd:attribute name="below" />
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="clip" />
			<xsd:attribute name="height" />
			<xsd:attribute name="id" />
			<xsd:attribute name="left" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onload" vs:omtype="event" />
			<xsd:attribute name="pagex" />
			<xsd:attribute name="pagey" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="top" />
			<xsd:attribute name="visibility" />
			<xsd:attribute name="width" />
			<xsd:attribute name="z-index" />
			<xsd:attribute name="onmouseout" vs:omtype="event" />
			<xsd:attribute name="onmouseover" vs:omtype="event" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="img" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="alt" />
			<xsd:attribute name="border" type="xsd:integer" />
			<xsd:attribute name="height" />
			<xsd:attribute name="hspace" type="ui4" />
			<xsd:attribute name="ismap" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="lowsrc" type="xsd:anyURI" />
			<xsd:attribute name="name" />
			<xsd:attribute name="onabort" vs:omtype="event" />
			<xsd:attribute name="onerror" vs:omtype="event" />
			<xsd:attribute name="onload" vs:omtype="event" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="suppress">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="true" />
						<xsd:enumeration value="false" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="usemap" type="xsd:anyURI" />
			<xsd:attribute name="vspace" type="ui4" />
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="isindex" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="prompt" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="input" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="align" default="top" vs:inputtype="image">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="causesvalidation" type="boolean" vs:nonbrowseable="true" />
			<xsd:attribute name="checked" type="xsd:boolean" vs:inputtype="checkbox radio" vs:standalone="true" />
			<xsd:attribute name="maxlength" type="ui4" vs:inputtype="text" />
			<xsd:attribute name="name" vs:inputtype="button checkbox hidden image password radio reset submit text" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onchange" vs:omtype="event" />
			<xsd:attribute name="onclick" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onselect" vs:omtype="event" />
			<xsd:attribute name="onserverclick" vs:omtype="event" />
			<xsd:attribute name="onserverchange" vs:omtype="event" />
			<xsd:attribute name="size" type="xsd:integer" vs:inputtype="text" />
			<xsd:attribute name="src" type="xsd:anyURI" vs:inputtype="image" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="button" />
						<xsd:enumeration value="checkbox" />
						<xsd:enumeration value="file" />
						<xsd:enumeration value="hidden" />
						<xsd:enumeration value="image" />
						<xsd:enumeration value="password" />
						<xsd:enumeration value="radio" />
						<xsd:enumeration value="reset" />
						<xsd:enumeration value="submit" />
						<xsd:enumeration value="text" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="value" vs:inputtype="button checkbox hidden password radio reset submit text" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="kbd">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="keygen" vs:empty="true">
		<xsd:complexType>
			<xsd:attribute name="challenge" />
			<xsd:attribute name="name" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="layer">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="BlockContent" />
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="above" />
			<xsd:attribute name="background" type="xsd:anyURI" />
			<xsd:attribute name="below" />
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="clip" />
			<xsd:attribute name="height" />
			<xsd:attribute name="id" />
			<xsd:attribute name="left" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onload" vs:omtype="event" />
			<xsd:attribute name="pagex" />
			<xsd:attribute name="pagey" />
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="top" />
			<xsd:attribute name="visibility" />
			<xsd:attribute name="width" />
			<xsd:attribute name="z-index" />
			<xsd:attribute name="onmouseout" vs:omtype="event" />
			<xsd:attribute name="onmouseover" vs:omtype="event" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="li" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="value" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="type" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="link" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="rel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="alternate" />
						<xsd:enumeration value="bookmark" />
						<xsd:enumeration value="chapter" />
						<xsd:enumeration value="contents" />
						<xsd:enumeration value="copyright" />
						<xsd:enumeration value="glossary" />
						<xsd:enumeration value="help" />
						<xsd:enumeration value="index" />
						<xsd:enumeration value="next" />
						<xsd:enumeration value="prev" />
						<xsd:enumeration value="section" />
						<xsd:enumeration value="start" />
						<xsd:enumeration value="stylesheet" />
						<xsd:enumeration value="subsection" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="text/css" />
						<xsd:enumeration value="text/javascript" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="listing" vs:deprecated="true">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="map">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="area" />
			</xsd:choice>
			<xsd:attribute name="name" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="menu">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="meta" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="content" />
			<xsd:attribute name="http-equiv" />
			<xsd:attribute name="name" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="multicol">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="BlockContent" />
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="cols" type="xsd:integer" />
			<xsd:attribute name="gutter" />
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="nobr">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="noembed">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="noframes">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
				<xsd:element ref="body" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="nolayer">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="BlockContent" />
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="noscript">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="object">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
				<xsd:element ref="param" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="classid" type="xsd:anyURI" />
			<xsd:attribute name="codebase" type="xsd:anyURI" />
			<xsd:attribute name="data" type="xsd:anyURI" />
			<xsd:attribute name="height" />
			<xsd:attribute name="type" vs:readonly="true" />
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ol" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attribute name="start" type="xsd:integer" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="type" vs:readonly="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="A" />
						<xsd:enumeration value="a" />
						<xsd:enumeration value="I" />
						<xsd:enumeration value="i" />
						<xsd:enumeration value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="option" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="selected" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="value" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="p" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="table" />
				<xsd:element ref="hr" />
			</xsd:choice>
			<xsd:attribute name="align" default="left">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="justify" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="param" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" />
			<xsd:attribute name="value" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="plaintext" vs:deprecated="true" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pre">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="PreContent" />
			</xsd:choice>
			<xsd:attribute name="cols" type="xsd:integer" />
			<xsd:attribute name="wrap"  vs:standalone="true" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="s">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="lang" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="samp">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="script">
		<xsd:complexType mixed="true">
			<xsd:attribute name="language">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="C#" />
						<xsd:enumeration value="cs" />
						<xsd:enumeration value="csharp" />
						<xsd:enumeration value="vb" />
						<xsd:enumeration value="visualbasic" />
						<xsd:enumeration value="vbs" />
						<xsd:enumeration value="vbscript" />
						<xsd:enumeration value="js" />
						<xsd:enumeration value="jscript" />
						<xsd:enumeration value="javascript" />
						<xsd:enumeration value="VJ#" />
						<xsd:enumeration value="xml" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="src" type="xsd:anyURI" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="select">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="option" />
			</xsd:choice>
			<xsd:attribute name="multiple" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="name" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onchange" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onserverclick" vs:omtype="event" />
			<xsd:attribute name="onserverchange" vs:omtype="event" />
			<xsd:attribute name="size" type="xsd:integer" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="onclick" vs:omtype="event" />
			<!-- the following are valid within a web form -->
			<xsd:attribute name="DataSource" />
			<xsd:attribute name="DataMember" />
			<xsd:attribute name="DataTextField" />
			<xsd:attribute name="DataValueField" />
			<xsd:attribute name="SelectedIndex" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="server">
		<xsd:complexType mixed="true">
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="small">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="spacer" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="top" />
						<xsd:enumeration value="texttop" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="absmiddle" />
						<xsd:enumeration value="baseline" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="absbottom" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="height" />
			<xsd:attribute name="size" />
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="block" />
						<xsd:enumeration value="horizontal" />
						<xsd:enumeration value="vertical" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="width" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="span">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="strike">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="strong">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="style" vs:builder="style">
		<xsd:complexType mixed="true">
			<xsd:attribute name="type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="text/css" />
						<xsd:enumeration value="text/javascript" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sub">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="sup">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="table">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="caption" />
				<xsd:element ref="tr" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="border" type="xsd:integer" />
			<xsd:attribute name="cellpadding" type="xsd:integer" />
			<xsd:attribute name="cellspacing" type="xsd:integer" />
			<xsd:attribute name="height" />
			<xsd:attribute name="width" />
			<xsd:attribute name="hspace" type="ui4" />
			<xsd:attribute name="vspace" type="ui4" />
			<xsd:attribute name="cols" type="xsd:integer" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="td" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
						<xsd:enumeration value="middle" vs:nonbrowseable="true" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="colspan" default="1" type="xsd:integer" />
			<xsd:attribute name="height" />
			<xsd:attribute name="rowspan" default="1" type="xsd:integer" />
			<xsd:attribute name="width" />
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="nowrap" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="valign">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="top" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="baseline" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="textarea">
		<xsd:complexType mixed="true">
			<xsd:attribute name="cols" type="xsd:integer" />
			<xsd:attribute name="name" />
			<xsd:attribute name="onblur" vs:omtype="event" />
			<xsd:attribute name="onchange" vs:omtype="event" />
			<xsd:attribute name="onfocus" vs:omtype="event" />
			<xsd:attribute name="onserverclick" vs:omtype="event" />
			<xsd:attribute name="onserverchange" vs:omtype="event" />
			<xsd:attribute name="onselect" vs:omtype="event" />
			<xsd:attribute name="rows" />
			<xsd:attribute name="wrap" default="soft">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="soft" />
						<xsd:enumeration value="hard" />
						<xsd:enumeration value="off" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="th">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
				<xsd:element ref="BlockContent" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="colspan" default="1" type="xsd:integer" />
			<xsd:attribute name="height" />
			<xsd:attribute name="rowspan" default="1" type="xsd:integer" />
			<xsd:attribute name="width" />
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attribute name="nowrap" default="false" type="xsd:boolean" vs:standalone="true" />
			<xsd:attribute name="valign">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="top" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="baseline" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="title">
		<xsd:complexType mixed="true"></xsd:complexType>
	</xsd:element>
	<xsd:element name="tr" vs:implicitclosure="true">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="th" />
				<xsd:element ref="td" />
			</xsd:choice>
			<xsd:attribute name="align">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="left" />
						<xsd:enumeration value="center" />
						<xsd:enumeration value="right" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="bgcolor" vs:builder="color" />
			<xsd:attribute name="valign">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="top" />
						<xsd:enumeration value="middle" />
						<xsd:enumeration value="bottom" />
						<xsd:enumeration value="baseline" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tt">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="u">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ul">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="ul" />
				<xsd:element ref="li" />
			</xsd:choice>
			<xsd:attribute name="type" default="disc">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="circle" />
						<xsd:enumeration value="disc" />
						<xsd:enumeration value="square" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="var">
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="InlineContent" />
			</xsd:choice>
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="wbr" vs:empty="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="lang" />
			<xsd:attribute name="style" vs:builder="style" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="xmp" vs:deprecated="true">
		<xsd:complexType mixed="true">
			<xsd:attribute name="class" vs:mapstoname="className" />
			<xsd:attribute name="id" />
			<xsd:attribute name="style" vs:builder="style" />
			<xsd:attributeGroup ref="coreLanguage" />
		</xsd:complexType>
	</xsd:element>
	<!-- XDR datatype derivations -->
	<xsd:simpleType name="i2">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-32768" />
			<xsd:maxInclusive value="32767" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ui4">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="4294967295" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
